<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czsc.dao.StockBiTableMapper">
  <resultMap id="BaseResultMap" type="com.czsc.entity.StockBiTable">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="start_price" jdbcType="DECIMAL" property="startPrice" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="end_price" jdbcType="DECIMAL" property="endPrice" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.czsc.entity.StockBiTable">
    <selectKey keyProperty="symbol" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stock_bi_table (id, symbol, `type`,
      start_time, start_price, end_time, 
      end_price, update_time)
    values (#{id,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{startTime,jdbcType=TIMESTAMP}, #{startPrice,jdbcType=DECIMAL}, #{endTime,jdbcType=TIMESTAMP}, 
      #{endPrice,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, symbol, `type`, start_time, start_price, end_time, end_price, update_time
    from stock_bi_table
  </select>
</mapper>